[Unit]
Description=Atlassian Fisheye
After=multi-user.target
Wants=multi-user.target

[Service]
Type=forking
User=fisheye
Group=fisheye
ExecStart=/opt/atlassian/fisheye/bin/start.sh
ExecStop=/opt/atlassian/fisheye/bin/stop.sh
PIDFile=/var/atlassian/application-data/fisheye/var/catalina.pid

[Install]
WantedBy=multi-user.target
